# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Firmware files
*.hex
*.bin
*.uf2

# env specific ingore
.vscode

# folders to ignore
keyboards/ploopyco/mouse/
keyboards/ploopyco/trackball/
keyboards/ploopyco/trackball_mini/
keyboards/ploopyco/trackball_nano/
keyboards/ploopyco/trackball_thumb/
